<p>С клавиатуры вводится последовательность чисел через пробел и число k. Необходимо найти все числа, которые отличаются от максимального в последовательности не более чем на k.</p>
<form action="<%= index_output_url %>">
  <input name="array" placeholder="array" value="43 12 4 24 3 23 51 4 214">
  <input name="range" placeholder="range" value="200">
  <input type="submit">
</form>