<p>Дано натуральное число n и целые числа a1, a2, . . . an. Написать программу, определяющую, есть ли среди заданной последовательности чисел отрезки (непрерывные подпоследовательности), состоящие степеней пятерки. Если есть, то подсчитать их количество и определить самый длинный из отрезков. Вывести на печать все отрезки, самый длинный из них и количество искомых отрезков. Если таких отрезков нет, то соответствующее сообщение. При составлении программы использовать функции.</p>
<form action="<%= index_output_url %>">
  <input name="array" placeholder="последовательность" value="3 5 25 64 125 25">
  <input name="number" placeholder="число" value="6">
  <input type="submit">
</form>
