<form action="<%= index_output_url %>">
  <% if @sequences.empty? %>
    <h1>последовательностей не найдено</h1>
  <% else %>
    <table>
      <tr>
        <td>последовательности</td>
        <td><%= @sequences %></td>
      </tr>
      <tr>
        <td>максимальная последовательность</td>
        <td><%= @maxsequence %></td>
      </tr>
      <tr>
        <td>количество последовательностей</td>
        <td><%= @sequences_number %></td>
      </tr>
    </table>
  <% end %>
</form>
