.main {
  /* Margins */
  padding: 20px;

  /* Size */
  height: 100%;
}

.func {
  /* Display */
  display: flex;
  flex-direction: row;
}

.input-wrap {
  /* Margins */
  margin-right: 20px;

  /* Size */
  width: 50%;

  /* Display */
  display: flex;
}

form {
  width: 100%;
}

.output-wrap {
  /* Size */
  width: calc(50% - 20px);

}